Missing implementations

RFCs:

- [ ] JWS (RFC 7515)
    - [ ]  JWS Unencoded Payload Option (RFC 7797)
- [ ] JWE (RFC 7516)
- [ ] JWK (RFC 7517)
   - [ ] JWK.Thumbprint (RFC 7638)
- [ ] JWA (7518)
- [ ] JWT (RFC 7519; oauth WG)

Key algorithms:
- [ ] Asymmetric
    - [x] P-256
    - [x] P-384
    - [ ] P-521
    - [ ] Curve-25519
    - [ ] Curve-448
    - [ ] RSA 
- [ ] Symmetric (Hmac)
    - [ ] Hs256
    - [ ] Hs384
    - [ ] Hs512

bors r+

Any update on whether JWE will be surported?