Ensure correct handling of keytype `oct` with `k` being bigger than the symmetric `alg`s keysize

Just tested, this works:

```rust
#[test]
fn smoke() {
    use ::hmac::{Hmac, Mac};
    use sha2::Sha256;
    let key = b"A";
    let mut mac = Hmac::<Sha256>::new_from_slice(&key[..]).unwrap();

    mac.update(b"Input");
    std::println!("{:x}", mac.finalize().into_bytes())
}
```

... and does not conform to RFC 7518 section 3.2

> A key of the same size as the hash output (for instance, 256 bits for
>  "HS256") or larger MUST be used with this algorithm

We need to add a check for the correct key length